<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false">
    <testsuite name="DocBlock-Code TestSuite">
        <directory>tests/</directory>
    </testsuite>
</phpunit>